<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a href="/frontpage">Home</a></li>
            <li><a href="/masterdata">Masterdata</a></li>
            <li><a href="/order">Orders</a></li>
        </ul>
    </div>
</div>